<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
     
     <!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	  
    <context:property-placeholder ignore-unresolvable="true" location="classpath:/maintain.properties"/>
	<tx:annotation-driven/>  
   <!--  <context:component-scan base-package="com.metrix" /> -->
    <context:component-scan base-package="com.hmetrix" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<bean id="ambaricluster" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="${ambari.username}" />
		<constructor-arg name="password" value="${ambari.password}" />
	</bean>
	
	<bean id="consumer" class="com.metrix.utils.Consumer"/>
		
	<!-- <bean id="ClusterList" class="com.metrix.utils.Clusters">
		<property name="clusterList">
			<list>
				<ref bean="Cluster"/>
			</list>
		</property>
	</bean> -->
	
	<!-- <bean id="ambariclusters" class="com.metrix.beans.Clusters">
		<constructor-arg name="url" value="${main.ambari.cluster.url}" />
	</bean> -->
	
	<bean id="hcluster" class="com.hmetrix.dto.MainCluster">
		<constructor-arg name="url" value="${main.ambari.cluster.url}" />
	</bean>
	
	<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="${jdbc.driverClassName}"/>
	    <property name="url" value="${jdbc.url}"/>
	    <property name="username" value="${jdbc.username}"/>
	    <property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!--  
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />   
	 <bean class="com.metrix.utils.HelloWorld">
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
			   <property name="mappings">
					<props>
					   <prop key="/">hello</prop>
					   <prop key="/hi">hi</prop>
					</props>
	      		</property>
	     	</bean>
	    </property>
  	</bean> 
  	-->
  	
</beans>
